:root {
  --primary-color: #6366f1;
  /* Indigo */
  --bg-color: #f9fafb;
  --surface-color: #ffffff;
  --text-main: #1f2937;
  --header-bg: #f3f4f6;
  --border-color: #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eef2ff;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  color: var(--text-main);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-wrapper {
  width: 100%;
  max-width: 450px;
  height: 80vh;
  max-height: 800px;
}

@media (max-width: 600px) {
  .widget-wrapper {
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}